	<meta charset="UTF-8">
	<title>新经资讯后台管理</title>
	<link rel="stylesheet" type="text/css" href="/static/admin/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/admin/css/main.css">
	<link rel="stylesheet" href="/static/admin/css/jquery.pagination.css">
	<script type="text/javascript" src="/static/admin/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/admin/js/jquery.pagination.min.js"></script>
	<script type="text/javascript" src="/static/admin/js/vue.min.js"></script>
