<!DOCTYPE html>
<html lang="en">
<head>
{% include 'admin/head.html' %}
	<link rel="stylesheet" href="/static/admin/css/jquery.pagination.css">
	<script type="text/javascript" src="/static/admin/js/jquery.pagination.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/vue.min.js"></script>
</head>
<body>
	<div class="breadcrub">
			当前位置：新闻管理>新闻审核
			<form class="news_filter_form">
				<input type="text" placeholder="请输入关键字" class="input_txt">
				<input type="submit" value="搜 索" class="input_sub">
			</form>
		</div>
		<div class="pannel">
			<table class="common_table">
				<tr>
					<th width="3%">id</th>
					<th width="70%">标题</th>
					<th width="15%">发布时间</th>
					<th width="5%">状态</th>
					<th width="8%">管理操作</th>
				</tr>
				<tr v-for="news in news_list">
					<td>[[news.id]]</td>
					<td class="tleft">[[news.title]]</td>
					<td >[[news.create_time]]</td>
					<td v-if="news.status==1">待审核</td>
                    <td v-else-if="news.status==2">已通过</td>
                    <td v-else>未通过</td>
					<td>
						<a href="/admin/news_review_detail" class="review">审核</a>
					</td>
				</tr>			
			</table>
		</div>

		<div class="box">
			<div id="pagination" class="page"></div>
		</div>

        <script>
			$(function() {
			    vue_list_con=new Vue({
			        el:'.common_table',
                    delimiters:['[[',']]'],
                    data:{
			            news_list:news_list
                    }
                })
				$("#pagination").pagination({
					currentPage: 2,
					totalPage: 3,
					callback: function(current) {
					    alert('ok!');
					}
				});
			});
		</script>

	
</body>
</html>